*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 70px 20px 0;
    background-color:#004880; 
}
.header{
background-color:  #0769e9;
height: 80px;
position: fixed;
width: 100%;
top: 0;
left: 0;

}
.nav{
    display: flex;
    justify-content: space-between;
    
    max-width: 992px;
    margin:0,auto;
}
.nav-link{
    color:white;
    text-decoration: none;   
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display:flex;
    margin-right: 40px;
    list-style: none;
    /* left:100%; */

}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active{
background-color: #034574;
transition: 0.5s;
}

.nav-toggle{
color:white;
background: none;
border:none;
font-size: 30px;
padding: 0 20px;
line-height: 60px;
display:none;
cursor:pointer;
}

@media (max-width: 768px) {
   .body{
    padding-top: 70px ;
   } 
   .header{
    height: 60px;
    }
   .logo{
        font-size: 25px;
        
        padding: 0 20px;
        line-height: 60px;
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #2c3e50;  
        position: fixed;      
        left: 0;
        top:60px;
        width:100%;
        padding: 20px 0;
        height: calc(100%-60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
        
    }
    
    .nav-menu-item{
        line-height: 50px;
    }
    
   
    
    .nav-menu-link:hover,
    .nav-menu-link_active {
    background:none;
    color:#83c5f7;
    }
    .nav-toggle{
    display:block;
    }
    .nav-menu_visible{
    left:0;
    }
.nav-toggle:focus:not(:focus-visible){
    outline: none;
}
.supercontenedor{
    margin-top:300px;
}
.contenedor2{
    height: fit-content;
}
}

/* Estilo del cuerpo de la pantalla de inicio  un contenedor global, y tres subcontenedores parciales*/

.supercontenedor{
    /*mirar a ver la posibilidad de hacer un translate vertical cuando cambia a formato movil*/
    margin-top: 90px;
    display:grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    grid-template-areas: ". c1 ." ". c2 ." ". c3 .";
}



/* estilo y colocación de la parte superior del cuerpo de la página */



.contenedor1{
    width: 50%;    
    /* border:2px; */
    background-color: #004880;
    /* border-style: solid;
    border-color: black;
    border-radius: 10px; */
    grid-area: c1;
    display:flex;
    flex-direction: column;
    justify-self: center;/*alineacion del bloque con respecto a su contenedorsuperior*/
    align-self: center;
    align-items: center;
    text-align: justify;    
}

.tituloCab > .Titulo , .tituloCab > .pieTitulo{
    font-size: x-small;
    display:grid;
    align-items: center;
}


/* estilo y colocacion de la parte central del cuerpo de la página */



 .contenedor2{

    width: 50%;
    /* border:2px; */
    background-color: #004880;
    /* border-style: solid;
    border-color: black;
    border-radius: 10px; */
    grid-area: c2;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 20% 60%,20%;
    grid-template-areas:". foto ." ". foto ." "pos1 pos2 pos3";
    justify-self: center;
}
.contenedor2-foto-centro {
    padding: 1px;
    border:2px;
    background-color: #004880;
    /* border-style: solid;
    border-color: black;
    height: fit-content;
    border-radius: 10px; */
    grid-area: foto;    
    justify-self: center;
 } 
/*lineas agregada y comprobadas*/

.foto-princ{
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 15px;
}

.contenedor2-solo-situacion{    
    display:grid;
    grid-template-areas: "s1 s2";
    /* display:flex; */
    /* flex-direction: row;
    justify-content: flex-start; */
    grid-area: pos2;
}
.solo-situacion{
    grid-area: s2;
justify-self: stretch;
}
/*fin de lineas agregadas y comprobadas*/


/* estilo y colocación de la parte inferior del cuerpo de la página */



.contenedor3{
    
    border:2px;
    background-color: #004880;
    /* border-style: solid;
    border-color: black;
    border-radius: 10px; */
    grid-area: c3;
    display:flex;
    flex-direction: column;
    grid-template-columns: repeat(3,1fr); 
    grid-template-rows: repeat(4,1fr) ;
    grid-area: ". p1 ." ". p2 ." ". p3 ." ". btn .";
    align-items: center;
    gap: 1px;   
    width: 50%;/*ancho del contenedor 3 con respecto al supercontenedor, es decir, tiene el 50% de ancho de lo que mide el supercontenedor*/
    justify-self: center;/*centrado del bloque contenedor con respecto a su padre, el supercontenedor*/
}
.foto-princ {
    margin-top: 50px;
    width: 90%;
    max-width: 110%;
    height: 80%;
    max-height: 100%;
}

.marco-parrafos{
    width: 50%;    
}




ion-icon{
   /* background-color: chartreuse; */
   /* text-align: center; */
   /* border-style: solid; */
    /* border-color: aquamarine; */
    /* border-radius: 15px; */
    width: 30px;
    height: 30px;
    font-size: x-large;

}

.icono{
    color:blue;
    /* font-size: px; */
}

.icono, .texto-situacion {
    display: inline;
    font-style: oblique;
    /* padding: 10px; */
    /* max-resolution: 10px; */
    /* background-color: brown; */
    width: fit-content;
    height: fit-content;
    /* text-align:center; */    
    /* border-radius: 15px;     */
}
.text{
    /* width: 33%; */
    /* grid-column:  */
    padding: 5px;
    color:white;
    /* border:2px; */
    background-color: #004880;
    /* border-style: solid;
    border-color: black;
    border-radius: 10px; */
    justify-self: center;
    justify-content: center;
    justify-items: center;
    text-align: justify;    
}
.contenedor-parrafos-situacion{
    display:flex;
    background-color: #004880;
    width:fit-content;
    height: fit-content;
    border-radius: 15px;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}
.botones{
    justify-self: stretch;
}

































/* 

.contenedor-botones{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas: "1 . ." ". . 2";
}
.proyect{
   grid-area: 1;
    background-color: aqua;
    width:50%;    
    padding: 10px;
    
}

.cv{
    background-color: chartreuse;
   width:50%;
    grid-area:2;
} */




















































/* .main{
    margin: 0;
    background-color: #112034;
    color: #fff;
    display:grid;
    grid-gap: 20px;
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
} */


































































/* .contenedor-parrafos{
    position: relative;
    
    padding-left: 10%;
    font-size:large;
    display:grid;
    grid-template-columns: repeat(3,1fr);   
    grid-template-rows: repeat(5,1fr);
    grid-template-areas:    "marcador-situacion texto-situacion     .   "                            
                            "parrafo1 parrafo1 parrafo1"
                            "parrafo2 parrafo2 parrafo2"
                            "parrafo3 parrafo3 parrafo3"
                            "proyect      .    cv"   ;
   
    justify-items: end;
    align-items: end;
} */
/* 
.fondo-centro{
    display: flex;
    justify-content: center;
    
}
.foto-centro{width: 50%;
    text-align: center;
}
.marcador-situacion {
    grid-area:marcador-situacion;
    background-color:white;     
}
.ion-icon {
    grid-area:marcador-situacion;
    color: red;
    justify-self: right;
    align-self: flex-end;    
  }
.texto-situacion {   
    grid-area: texto-situacion;
    background-color: #112034;
    width: 800px;
    display: grid;  
}
.contenedor-situacion-parrafos {
    /* text-align: justify; 
    width: 60%;
    align-content: center;
    justify-content: center;
}
.texto{
    justify-self: justify;
    align-self: justify;
}
.parrafo1 {
    grid-area: parrafo1;
}
.parrafo2 {
    grid-area: parrafo2;

}
.parrafo3 {
    grid-area: parrafo3;
} */

/* control de dimensiones de botones */
/* .proyect {
    grid-area: proyect;
    align-self: stretch;
    justify-self: stretch;
    padding: 20px;
}

.cv{
    grid-area: cv;   
    align-self: stretch;
    justify-self: stretch;
    padding: 20px;
}
 .Titulo, .pieTitulo{
    display:flex;
    justify-content: center;    
    padding-top: 20px;
    margin:15px;
}
.foto-centro{    
    width: 33%;
    height: 44%;
    background-color:#112034;    
    justify-items: center;
    
}  */



 














.piedepagina{
    background-color:#83c5f7
}